@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="border display-4 p-2">Witamy dzisiaj mamy: @DateTime.Now.ToLongDateString()</h1>
    
</div>
